body
{
	background: #555; 
}

/*aspectos generales: bordes y color de fondo de calculadora*/
.calculadora
{ 
 border: 6px #559;
 border-radius: 56px;
 width: 450px;
 height: 600px;
 text-align: center;
 background: -webkit-radial-gradient(black,blue);
 font-family: "algerian"; 
}

/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/
#textoPantalla 
{ 
background: -webkit-radial-gradient(#333,white);
width: 280px;
height: 90px;
border: 2px black solid;
border-radius: 5px;
text-align: right; 
position: relative; 
left: 73px;
padding: 0px 5px;
background-color: white;
font-family: "algerian"; 
overflow: hidden;
}

/*botones normales: anchura y margen*/
.calculadora [type=button] 
{
width: 65px;
height: 50px;
padding: 0;  
font-family: "arial";
border-radius: 56px;
}
/*botones especiales*/
.calculadora input.largo 
{
color: #111;
width: 77px; 
font-family: "arial";
}

